<!DOCTYPE html>
<html ng-app="myFirstApp">
  <head>
    <meta charset="utf-8">

    <script src="./Frameworks/angular.min.js"></script>
    <script src="/JavaScript/app.js"></script>

    <title></title>
  </head>
  <body>
    <h1>My first AngularJS App -Scope Branch</h1>
    <h2> Inside first div tag</h2>

    <div ng-controller="MyFirstController">
      {{name}}<br>
      <input type="text" ng-model="name"><br>
      {{functionReturn()}}<br>
    </div>


  <h2> Inside second div tag</h2>
    <div ng-controller="MySecondController">
      {{name}}<br>
      <input type="text" ng-model="name">
    </div>






  </body>
</html>
